{% case page.layout %}
{% when 'post' %}
  {% capture script_extra %}{% include _scripts/pages/post-details.html %}{% endcapture %}
{% when 'archive' %}
  {% capture script_extra %}
      <script type="text/javascript" id="motion.page.archive">
        {% if site.use_motion %}
        $('.archive-year').velocity('transition.slideLeftIn');
        {% else %}
        if (!document.referrer.includes(window.location.hostname)) {
          $('.archive-year').velocity('transition.slideLeftIn');
        }
        {% endif %}
      </script>
    {% include _scripts/pages/pagination.html %}
  {% endcapture %}
{% when 'category' %}
  {% capture script_extra %}
    {% include _scripts/pages/pagination.html %}
  {% endcapture %}
{% when 'tag' %}
  {% capture script_extra %}
    {% include _scripts/pages/pagination.html %}
  {% endcapture %}
{% else %}
  {% capture script_extra %}{% include _scripts/pages/post-details.html %}{% endcapture %}
{% endcase %}
